@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6, span{ 
    font-family: 'National Park', sans-serif;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
